# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcuserstate
*.xcbkptlist
DerivedData/
.build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Certificates & secrets
*.p12
*.mobileprovision
*.pem
*.key

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
